body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 48, 57);
    display: grid;
    place-items: center;
}

#interruptor{
    width: 120px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0;
}

img{
    border-radius: 100px;
    width: 200px;
    height: 250px;
    object-fit: cover;
}