html, body{
    height: 99svh;
    width: 99svw;
}

body{
    color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 40px;
    background-color: dimgray;
    font-family: sans-serif;
}

